<a class="thumbnail fancybox-els" rel="lightbox"
   caption="<%= image.escape('caption')%>"
   data-id="<%= image.id %>"
   href="<%= image.escape('image_url') %>">
  <img id="fancybox-item" class="img-responsive" alt=""
       src="<%= image.escape('image_url') %>" />
</a>

<button style="margin-left:30px;"
        class="image-menus btn btn-default">
  <i class="glyphicon glyphicon-heart"></i>
</button>
<button class="image-menus btn btn-default"
        id="toggle-image-detail-<%= image.id %>">
  <i class="glyphicon glyphicon-pencil"></i>
</button>