<div class="container">
  <div class="row vertical-offset-100">
    <div class="col-md-4 col-md-offset-4">
      <%= render 'shared/error' %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="row-fluid user-row">
            <%= image_tag("gravatar.png",
                :alt => "gravatar",
                :class => "img-responsive") %>
          </div>
        </div>
        <div class="panel-body">
          <form accept-charset="UTF-8" role="form"
                class="form-edit"
                action="<%= user_url(User.generate_session_token)
                %>"
                method="POST">
            <fieldset>
              <input type="hidden" name="_method"
                     value="PATCH">

              <input type="hidden"
                     name="authenticity_token"
                     value="<%= form_authenticity_token%>">

              <input type="text"
                     class="form-control"
                     placeholder="Username"
                     name="user[username]"
                     value="<%= current_user.username %>">
              <br />
              <input class="btn btn-lg btn-primary btn-block"
                     type="submit"
                     value="Save »">
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>