<% action_url = (is_sign_up ? users_url : session_url) %>
<% button_label = (is_sign_up ? "Sign up »" : "Log in »") %>

<div class="container">
  <div class="login-container">
    <div class="alert alert-info alert-dismissible animated fadeInUp" role="alert"
         >Welcome to <strong><i>Minipicture.me!</i></strong>
    </div>
    <div class="avatar gly-spin">
      <%= image_tag("instagram.png", :alt => "instagram") %>
    </div>
    <%= render 'shared/error' %>
    <div class="form-box">
      <form action="<%= action_url %>" method="POST">
        <fieldset>
          <input type="hidden"
                 name="authenticity_token"
                 value="<%= form_authenticity_token%>">
          <input type="text" placeholder="Email"
                 name="user[email]" value="<%= @user.email %>">
          <% if is_sign_up %>
            <%= input_for @user.username %>
          <% end %>
          <input type="password" placeholder="Password"
                 name="user[password]">
          <button class="btn btn-info btn-block login"
                  type="submit"><%= button_label %>
          </button>
          <% unless is_sign_up %>
            <button id="guest-log-in"
                    class="btn btn-info btn-block login"
                    type="submit">Demo account »
            </button>
          <% end %>
        </fieldset>
      </form>
    </div>
  </div>
</div>

<script>
  $(function() {
    $('#guest-log-in').on('click', JSUtil.guestLogin);
  });
</script>