<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Home</a>
    </div>
    <div class="nav navbar-nav navbar-right">
      <% if signed_in? %>
        <input type="filepicker" data-fp-mimetype="image/*"
               name="image[url]" data-fp-button-text="Choose Image"
               data-fp-button-class="btn btn-default">

      <% else %>
        <% if request.original_url == new_user_url %>
          <%= link_to (header_button_tag "Log in"), new_session_url %>
        <% else %>
          <%= link_to (header_button_tag "Sign up"), new_user_url %>
        <% end %>
      <% end %>
    </div>
  </div>
</nav>

<% if signed_in? %>
  <%= current_user.username %>
  <%= button_to "Sign Out", session_url, method: :delete %>
<% end %>

<% if flash[:errors] %>
<div class="alert alert-warning alert-dismissible" role="alert">
   <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
<%= flash[:errors].join("<br>").html_safe %>
</div>
<% end %>
